# Treinamento de Machine Learning (ML)

O objetivo deste curso é apresentar conceitos básicos de ML de forma prática.

Link da competição no kaggle https://www.kaggle.com/t/c0df03eea7fa42e289aa16ee13f2a2de

Fonte dos dados: https://www.kaggle.com/shree1992/housedata

In [11]:
import pandas as pd
import numpy as np
np.random.seed(0)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from math import sqrt

In [12]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

### Análise exploratória

In [13]:
train.shape

(3220, 16)

In [14]:
train.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,country,id
0,148612.5,3.0,1.00,1040,6860,2.0,0,0,3,1040,0,1942,1999,Seattle,USA,4452
1,622500.0,5.0,2.75,3320,23760,2.0,0,0,4,2190,1130,1975,0,Woodinville,USA,2457
2,587000.0,3.0,2.25,2370,217800,2.0,0,0,3,2370,0,1979,2014,Redmond,USA,1390
3,563500.0,4.0,1.75,2085,174240,1.0,0,0,3,1610,475,1964,2000,Fall City,USA,3402
4,620000.0,4.0,2.50,2450,55387,2.0,0,0,3,2450,0,1994,0,Redmond,USA,3197

### Preparação do dados

- Divisão dos dados em treino, validação e teste [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

### Engenharia de Atributos

- One-Hot Encoding
- Scaling

### Seleção de atributos

### Modelagem

Regressão Linear

[`LinearRegression()`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html) 

- [Cost Function](https://medium.com/@lachlanmiller_52885/machine-learning-week-1-cost-function-gradient-descent-and-univariate-linear-regression-8f5fe69815fd) 
- Gradient Descent

### Avaliação

- RMSE
- Bias X Variance
- Learning Curve

In [15]:
# rms = sqrt(mean_squared_error(y_actual, y_predicted))
# mean_squared_error(predicted, df["price"])

NameError: name 'y_actual' is not defined

### Submissão

In [17]:
submission = pd.read_csv("sample_submission.csv")

In [ ]:
submission["price"]

In [18]:
submission.head()

     id          price
0   991  569262.179503
1  2824  569262.179503
2  1906  569262.179503
3  1471  569262.179503
4  1813  569262.179503

### Próximos Passos

- Coursera
- Kaggle