# Treinamento de Machine Learning (ML)

O objetivo deste curso é apresentar conceitos básicos de ML de forma prática.

Link da competição no kaggle https://www.kaggle.com/t/c0df03eea7fa42e289aa16ee13f2a2de

Fonte dos dados: https://www.kaggle.com/shree1992/housedata

In [5]:
import pandas as pd
import numpy as np
np.random.seed(0)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from math import sqrt

### Preparação do dados

In [6]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

### Análise exploratória

In [8]:
train.shape

(3220, 16)

In [9]:
train.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,country,id
0,148612.5,3.0,1.00,1040,6860,2.0,0,0,3,1040,0,1942,1999,Seattle,USA,4452
1,622500.0,5.0,2.75,3320,23760,2.0,0,0,4,2190,1130,1975,0,Woodinville,USA,2457
2,587000.0,3.0,2.25,2370,217800,2.0,0,0,3,2370,0,1979,2014,Redmond,USA,1390
3,563500.0,4.0,1.75,2085,174240,1.0,0,0,3,1610,475,1964,2000,Fall City,USA,3402
4,620000.0,4.0,2.50,2450,55387,2.0,0,0,3,2450,0,1994,0,Redmond,USA,3197

### Engenharia de Atributos

### Seleção de atributos

### Modelagem

Regressão Linear

`LinearRegression()` [link](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)

### Avaliação

- RMSE
- Bias X Variance
- Learning Curve

In [ ]:
predicted = lr.predict(df[["sqft_living"]])

In [ ]:


rms = sqrt(mean_squared_error(y_actual, y_predicted))
mean_squared_error(predicted, df["price"])

### Submissão

In [ ]:
del df["date"], df["statezip"], df["street"]

In [ ]:
df.head()

In [ ]:
df["country"].value_counts()

In [ ]:
train, test = train_test_split(df, train_size=.7)

In [ ]:
test[["id", "price"]].to_csv("test.csv", index=False)

In [ ]:
sample_submission = test[["id", "price"]].copy()

sample_submission.loc[:,"price"] = test["price"].mean()
sample_submission.head()

In [ ]:
sample_submission.to_csv("sample_submission.csv", index=False)

In [ ]:
### Próximos Passos